body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-position: center;
}
body header{
    border-top: 8px solid #EC3237;
}
.form{
    width: 285px;
    height: 550px;
    background-color: #ffffff;
    border: 2px solid #CCCCCC;
    position: absolute;
    margin-left: 63%;
    margin-top: 5.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}