* {
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 500vh;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    background-color: rgb(61, 61, 61);
    padding: 1.8rem 25rem;
}

.brand {
    background-image: url("./assests/background.jpeg");
    min-height: 110vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleText {
    color: whitesmoke;
    text-align: center;
    padding-top: 2rem;
}

.service {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("./assests/black.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
}

.brand div {
    color: whitesmoke;
    font-size: 5rem;
    text-align: center;
    padding-bottom: 5rem;
}

.providedServices {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5rem 20rem;
    color: whitesmoke;
}

.providedServices div {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.6rem;
}

.providedServices p {
    margin-top: 1rem;
    font-size: 1.4rem;
}

.ourWork {
    height: 110vh;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 4rem;
}

.ourWork p {
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 1.6rem;
    color: black;
}

.workImages {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0%;
    max-width: 90%;
    overflow: hidden;
}

.gridItem {
    min-height: 10%;
    min-width: 10%;
    object-fit: cover;
}

.gridItem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.aboutUs {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./assests/wrench.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}

.aboutUs main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10rem 5rem;
    width: 40%;
}

.aboutUs p {
    margin-top: 5rem;
    text-align: center;
    color: rgb(45, 45, 45);

}

.someView {
    background-image: url("./assests/someView.jpeg");
    min-height: 60vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./assests/wrench.jpeg");
    padding-bottom: 5rem;
}

.contactInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10rem 5rem;
    width: 40%;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.contact-info {
    width: 40%;
}
.contact-info p {
    margin: 5px 0;
}
.contact-form {
    width: 50%;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form input[type="submit"] {
    width: auto;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.contact-form input[type="submit"]:hover {
    background-color: #444;
}

.carLogo {
    margin-top: 3rem;
    height: 20rem;
}

footer {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(61, 61, 61);
    justify-content: space-around;
    align-items: center;
    height: 14vh;
}